<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="name" placeholder="name">
            <input type="text" v-model="url" placeholder="url">
            <button type="button" v-on:click="add">Add</button>
        </form>
        {{ podcasts }}
    </div>
    <script src="js/site.js"></script>
</body>
</html>